<div class="d-flex flex-column min-vh-100">
  <app-header></app-header>

  <main class="flex-grow-1">
    <div class="container py-3">
      <!-- <button type="button" class="btn btn-primary m-2" (click)="listner()">Show/Hide Text</button>

      <p *ngIf="visiblity" class="m-2">
        Hello Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente ducimus modi eos eligendi sed rem quibusdam, enim vitae officiis, cupiditate asperiores beatae laborum vel. Porro neque amet repudiandae labore.
      </p>

      <ul>
        <li *ngFor="let item of list">
          {{ item }}
        </li>
      </ul> -->

      <router-outlet></router-outlet>
    </div>
  </main>

  <app-footer></app-footer>
</div>
